<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="img/cloud.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Nova. It generated a radnom country using input string and print the country's temperatre</p>
        <img class="portrait" src="/img/luffy.jpg">
    </div>

    {{>footer}}
</body>

</html>